$color_dark_blue: #191c26;
$color_black: #303030;
$color_dark_grey: #555555;
$color_grey: rgba(157, 164, 189, 0.6);
$color_light_grey: #9da4bd;
$color_block_grey: #f7f7f7;
$color_grey_transparent: rgba(157, 164, 189, 0.6);
$color_white: #ffffff;
$color_orange: #ff6c00;
$transition_all: all 250ms cubic-bezier(0.4, 0, 0.2, 1);